<!DOCTYPE html>

@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
    if(User.Identity.Name=="") {Response.Redirect(@Url.Action( "index", "Home"));}
}



<html lang="pl">
<head>
    <title>aktualnosci</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />

  
    <link href="~/CSS/tlo.css" rel="stylesheet" />
</head>


<body>
    <div class="logo-full-bg">
        <div class="container">
            <form class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <img src="@Url.Content(" ~/Content/Images/logo.png")" alt="LOGO" height="100" width="200" />
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    Witaj, @(User.Identity.Name)!
                    <input type="button" value="Wyloguj" class="logout_buttton" onclick="location.href='@Url.Action("SignOut", "Home")'" />
                </div>
            </form>
        </div>
    </div>
    <div class="menu-full-bg">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default" style="margin-bottom:0px; background-color:#8EDCE5">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li @(pageName == "Aktualnosci" ? "class=active" : "")>
                                    @Html.ActionLink("Aktualności", "index", "Aktualnosci")
                                </li>

                                <li @(pageName == "profil" ? "class=active" : "")>
                                    @Html.ActionLink("Profil", "index", "profil")
                                </li>

                                <li @(pageName == "grupy" ? "class=active" : "")>

                                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                        Grupy
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" style="margin-bottom:0px; background-color:#8EDCE5">
                                        <li @(pageName == "nie wiem co" ? "class=active" : "") style="border-bottom:solid; border-color:white;">
                                            @Html.ActionLink("stworz/dolacz do grupy", "zarzadzaj", "grupy", FormMethod.Post)
                                        </li>
                                        <li><strong>Twoje grupy:</strong></li>

                                        <li @(pageName == "nie wiem co" ? "class=active" : "")>
                                            @Html.ActionLink("nazwa_grupy", "index", "grupy", new { @id = "nazwa_grupy_1" }, FormMethod.Post)
                                        </li>

                                        <li @(pageName == "nie wiem co" ? "class=active" : "")>
                                            @Html.ActionLink("nazwa_grupy2", "index", "grupy", new { @id = "nazwa_grupy_2" }, FormMethod.Post)
                                        </li>
                                    </ul>
                                    </li>

                                <li @(pageName == "statystyki" ? "class=active" : "")>
                                    @Html.ActionLink("Statystyki", "index", "statystyki")
                                </li>

                                <li @(pageName == "wiadomosci" ? " class=active" : "")>
                                    <!--  <span class="badge">5</span> -->


                                    <a href="@Url.Action( "index", "wiadomosci")">wiadomosci <span class="badge">7</span></a>

                                </li>

                                <li @(pageName == "znajomi" ? " class=active" : "")>
                                    @Html.ActionLink("Znajomi", "index", "znajomi")
                                </li>
                                <li @(pageName == "Zaklady" ? " class=active" : "")>
                                    @Html.ActionLink("Zakłady", "index", "zaklady")
                                </li>
                                <li @(pageName == "Ustawienia" ? " class=active" : "")>
                                    @Html.ActionLink("Ustawienia", "index", "Ustawienia")
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <!-- srodek  -->
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <main class="mainContainer">
                    @RenderBody()
                </main>
            </div>

            <!-- menu boczne -->

            <div class="col-md-5 col-sm-5">
                @RenderSection("asside")
            </div>
        </div>
    </div>
     


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Script/table_script.js"></script>

</body>
</html>
