<!DOCTYPE html>

@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
    var button_flag = 0;
}





<html lang="pl">
<head>
    <title>aktualnosci</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="~/CSS/tlo.css" rel="stylesheet" />
    </head>


    <body>

        <script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginRight = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginRight = "0";
}
        </script>

        <div id="main">

            <div class="head">
                <form class="form-inline">
                    <div class="input-group">
                        <span><h1 style="color:green;">Zakłady Online (logo tu bedzie)</h1></span>
                    </div>

                    <input type="button" value="Wyloguj" onclick="location.href='@Url.Action("SignOut", "Home")'" />

                </form>
            </div>


            <nav class="navbar navbar-inverse" style="margin-bottom:0px">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li@(pageName == "aktualnosci" ? "class=active" : "")>
                            @Html.ActionLink("aktualnosci", "aktualnosci", "home")</li>
                            <li>@Html.ActionLink("twoje_grupy", "twoje_grupy", "home")</li>
                            <li@(pageName == "statystyki" ? "class=active" : "")>
                                @Html.ActionLink("statystyki", "statystyki", "home")</li>
                            <li>@Html.ActionLink("przyjaciele", "przyjaciele", "home")</li>
                            <li>@Html.ActionLink("ustawienia", "ustawienia", "home")</li>
                            <li id="button_czat" class="" @( button_flag == 0 ?"onclick=openNav()" : "onclick=closeNav()")><a href="#">czat</a></li>
                </ul>
            </div>
        </nav>

        <!--   -->



        <div class="row content">

            <div class="col-sm-12" style="background-color:black">
                <!-- srodek  -->

                <div class="body">
                    <p>@pageName</p>
                    @RenderBody()
                </div>


            </div>
       

            

                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">About</a>

                </div>
            
              
                  


                    <!-- kolumna po prawo -->
               
            </div>



</body>
</html>
