<!DOCTYPE html>
<html lang="pl">
<head>
    <title>aktualnosci</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="~/CSS/tlo.css" rel="stylesheet" />
    </head>


    <body>
        <div class="head">
            <form class="form-inline">
                <div class="input-group">
                    <span><h1 style="color:green;">Zakłady Online (logo tu bedzie)</h1><span>
                </div>
                
              <input type="button" value="Wyloguj" onclick="location.href='@Url.Action("SignOut", "Home")'" />

            </form>
        </div>


        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("aktualnosci", "aktualnosci", "home")</li>
                    <li>@Html.ActionLink("twoje_grupy", "twoje_grupy", "home")</li>
                    <li>@Html.ActionLink("statystyki", "statystyki", "home")</li>
                    <li>@Html.ActionLink("przyjaciele", "przyjaciele", "home")</li>
                    <li>@Html.ActionLink("ustawienia", "ustawienia", "home")</li>
                </ul>
            </div>
        </nav>

        
        <div>
            @RenderBody()
        </div>
    </body>
</html>
