@model WebApplication2.Models.ViewModel.FriendsListView
@{
    Layout = "~/Views/Shared/_Layout_without_chat_asside.cshtml";
}

<!--byc moze tutaj bedzieszukajka-->

<div class="users_list_container">

    <div class="users_list_container">

        @foreach (var item in Model.ListFriends)
        {
            <div class="container_user_picture">
                <!--adres do profilu uzytkownika-->

                <a href="~/profil/index#id">

                    <img src="data:image/png;base64, @Convert.ToBase64String(item.imageData)" width="100" height="100" alt="avatar" class="img-rounded" />
                </a>
                <p>@Html.DisplayFor(modelItem => item.UserID)</p>
                <input id="Button_id_uzytkownika" type="button" value="napisz" />

            </div>
        }
    </div></div>



@section asside{

  

    <aside class="asside_friends_search">
        <div class="search_friends">
            <div class="search_friends_input">
               @using (Html.BeginForm("Index", "Znajomi", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
               {
                    <div class="form-group">
                        
                            @Html.Editor("pole", new { @class = "form-control", @placeholder="nick użytkownika" })
                    </div>
                    <button type="submit" class="btn btn-default">wyszukaj</button>
                }
                
            </div>
        </div>

        <div class="asside_friend_list">
@foreach (var item in Model.ListSearch)
{
            <div class="user_in_friend_list" href="~/profil/index#id">
              
                        <img src="data:image/png;base64, @Convert.ToBase64String(item.imageData)" width="50" height="50" alt="avatar" class="img-rounded" />
                    
                <strong> @Html.DisplayFor(modelItem => item.UserID)</strong>
                <div>
                    @using (Html.BeginForm("Zapros", "Znajomi", FormMethod.Post))
                    {
                        @Html.ActionLink("Zaproś", "Zapros", new { userID = item.UserID })
                    }
                    <input id="Button_id_user_message" type="button" value="napisz" />
                    @using (Html.BeginForm("wiadomosc", "Wiadomosci", FormMethod.Post))
                    {
                        @Html.ActionLink("Napisz", "wiadomosc", new { userID = item.UserID })
                      
                            }
                </div>
            </div>
            
}
       
    </aside>

}



