@model WebApplication2.Models.ViewModel.ProfileView
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    int m=1;
}


<div class="container">
    <div class="row">


        <!--bok (avatar,nick,dolaczyl,punkty rankingu,  , opcje/napisz)  -->
        <div class="col-md-4 col-sm-4">
            <img src="data:image/png;base64, @Convert.ToBase64String(Model.imageData)" class="img-rounded"  alt="avatar" width="200" height="200" />
            <p>Nick: @Html.DisplayFor(model => model.login)</p>
            <p>Dołączył: @Html.DisplayFor(model => model.date_join)</p>
            <input id="send_Button" type="button" value="napisz" class="btn btn-default" />
            <h2>Grupy do ktorych uzytkownik nalezy</h2>


            <input id="Button_group" type="button" value="zwin/rozwin" class="btn btn-default" data-toggle="collapse" data-target="#list_group" />
            <div class="collapse" id="list_group">
                <ul>
                    <li><a href="grupy#1"><p>nazwa_grupy_1</p></a></li>
                    <li><a href="grupy#2"><p>nazwa_grupy_2</p></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <input id="friend_button" type="button" value="zapros/usun" class="btn btn-default"/>
            <h2>O mnie</h2>
            
            <!---------------------------------------------------------------------------->
            
            <!--README-->
            <!--
                w zaleznosci od tego czy na profilu uzytkownika jestesmy czy na porfilu innegouzytkowniak
            
                czesc zakomentowana dotyczy innego uzytkownika u ktoregoopisu nie mozemy zmienic tylko wyswietlic 
                czesc niezakomentowana dotyczy uzytkowniak ktory jest na swoimprofilu i tam ma wypisany w textarea swoj tesk i mozego zmieniac
            -->

            <!--
            <div class="about_me_container">

            </div>
            -->
            <form class="form">
                
                <div>
                    <!--tutaj powinien byc aktualny opis wyswietlany jaki uzytkownik mai uzytkownik do niego moze nowy wpisac-->
                    
                    @Html.TextAreaFor(model => model.description, new { @id = "describ_user", @rows = 10, @cols = 40, @placeholder = Html.DisplayFor(n => n.description) })
                </div>
                <div>
                    <!--przycisk do zatwierdzenia zmian w opise-->
                    <input id="Button_describe" type="button" value="zmien" class="btn btn-default" />
                </div>
            </form>
<!------------------------------------------------------------------------------------------->

            <div class="table-responsive" style="background-color:white">
                <table class="table table-striped" style="width:100%;">
                    <h2>Ranking Globlany</h2>
                    <thead>
                        <tr>
                            <th>Pozycja</th>
                            <th>Login</th>
                            <th>Wynik</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.global){
                            if(Model.login==item.login){
                                <tr>
                                    <td>@m</td>
                                    <td>@item.login</td>
                                    <td>@item.points</td>
                                </tr>
                            }
                            m++;
                        }
                    </tbody>
                </table>
            </div>

            


        </div>



    </div>

</div>



<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

$(document).ready(function () {
    $('#button_group').DataTable();
});
</script>