@model WebApplication2.Models.ViewModel.BetSetGetView
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.1.1.js")"></script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#menuLevel1').change(function () {
                var categoryIdLevel1 = $('#menuLevel1 option:selected').val();
                $.ajax({
                    type: 'GET',
                    data: {id: categoryIdLevel1},
                    url: '@Url.Action("filterCatLevel2", "Zaklady")',
                    success: function (result) {
                        var s = '';
                        for (var i = 0; i < result.length; i++) {
                            s += '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';

                        }
                        $('#menuLevel2').html(s);
                    }
                })
            });
        });
</script>



<div class="container_page_zaklady">
    <form action="/Zaklady/dodaj" method="post"  style="width: 100%">
        <div class="bet_fixed">
            <div class="choice_race">
                <h2>Wybierz wyścig do zakładu</h2>
                <label class="control-label" for="date">Data wyścigu</label>
                <input class="form-control" id="date_picker" name="date_picker" placeholder="MM/DD/YYY" type="text" />
                <!-- Wyswietla napis o dodaniu zakladu-->
                <span class="alert-success">@ViewBag.Status</span>
                <!-- Wyswietla napis, ze dane sie nie zgadzaja-->
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            
            <div>
                <div class="form-inline">
                    <div class="choice_race_bet">

                        <h2>Obstaw</h2>

                        

                        <div class="form-group">
                            <p>1 miejsce</p>
                            <p>
                                @Html.DropDownListFor(model => model.betSetView.Driver_Name1, ViewBag.KategoriaList as IEnumerable<SelectListItem>, "Wybierz")
                                <!-- wyświetla sie, gdy nie wpisano hasla i nacisnieto przycisk "zmien"-->
                                @Html.ValidationMessageFor(model => model.betSetView.Driver_Name1, "", new { @class = "text-danger" })
                            </p>
                        </div>

                        <div class="form-group">
                            <p>2 miejsce</p>
                            <p>
                                @Html.DropDownListFor(model => model.betSetView.Driver_Name2, ViewBag.KategoriaList as IEnumerable<SelectListItem>, "Wybierz")
                                @Html.ValidationMessageFor(model => model.betSetView.Driver_Name2, "", new { @class = "text-danger" })
                            </p>
                        </div>

                        <div class="form-group">
                            <p>3 miejsce</p>
                            <p>
                                @Html.DropDownListFor(model => model.betSetView.Driver_Name3, ViewBag.KategoriaList as IEnumerable<SelectListItem>, "Wybierz")
                                @Html.ValidationMessageFor(model => model.betSetView.Driver_Name3, "", new { @class = "text-danger" })
                            </p>
                        </div>




                        <h2>Najlepsze okrążenie</h2>


                        <div class="form-group">


                            <p>
                                @Html.DropDownListFor(model => model.betSetView.Driver_Time1, ViewBag.KategoriaList as IEnumerable<SelectListItem>, "Wybierz")
                                @Html.ValidationMessageFor(model => model.betSetView.Driver_Time1, "", new { @class = "text-danger" })
                            </p>

                        </div>
                        <div>
                            <input id="Button_login" type="submit" value="Zatwierdź zmiany" class="btn btn-default" />
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="table" id="table_race">
    <div>
        <h1>Twoje zakłady</h1>
        @using (Html.BeginForm("wyswietl", "Zaklady", FormMethod.Post))
        {
            @Html.DropDownListFor(model => model.CategoryLevel1, Model.MenuLevel1, new { id = "menuLevel1" })

            @Html.DropDownListFor(model => model.CategoryLevel2, Model.MenuLevel2, new { id = "menuLevel2" ,@onchange = "this.form.submit();" })
        }

        <table id="tabela_js_show" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>opcja</th>
                    <th>wybrany zawodnik</th>
                    <th>zawodnik z wyscigu</th>
                    <th>zdobyte punkty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 zawodnik</td>
                    <td>@Html.DisplayFor(model => model.betGetView.betPos1)</td>
                    <td>@Html.DisplayFor(model => model.betGetView.racePos1)</td>
                    <td>@Html.DisplayFor(model => model.betGetView.scorePos1)</td>
                </tr>

                <tr>
                    <td>2 zawodnik</td>
                    <td>@Html.DisplayFor(model => model.betGetView.betPos2)</td>
                    <td>@Html.DisplayFor(model => model.betGetView.racePos2)</td>
                    <td>@Html.DisplayFor(model => model.betGetView.scorePos2)</td>
                </tr>

                <tr>
                    <td>3 zawodnik</td>
                    <td>@Html.DisplayFor(model => model.betGetView.betPos3)</td>
                    <td>@Html.DisplayFor(model => model.betGetView.racePos3)</td>
                    <td>@Html.DisplayFor(model => model.betGetView.scorePos3)</td>
                </tr>

                <tr>
                    <td>najlepsze okrazenie</td>
                    <td> @Html.DisplayFor(model => model.betGetView.betTime1)</td>
                    <td>@Html.DisplayFor(model => model.betGetView.raceTime1)</td>
                    <td>@Html.DisplayFor(model => model.betGetView.scoreTime1)</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<h1>Wynik całkowity wyścigu</h1>
<h3>@Html.DisplayFor(model => model.betGetView.scoreSum)</h3>

<script type="text/javascript">


    var SelectedDates = [];
    var licznik = 0;


    @foreach(var m in Model.betRaces)
   {
          <text>
            SelectedDates[licznik] = { date_race: new Date("@m.raceDate"), describ: "@m.raceTrack" }
            licznik++;
          </text>
              }

    /*
    SelectedDates[0] = { date_race: new Date("2017-01-01T00:00:00+01:00"), describ: "wyscig1" }
    SelectedDates[1] = { date_race: new Date("2017-01-20T00:00:00+01:00"), describ: "wyscig2" }
    */
    $(document).ready(function () {


        var date_input = $('input[name="date_picker"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })


    Date.prototype.withoutTime = function () {
        var d = new Date(this);
        d.setHours(0, 0, 0, 0, 0);
        return d
    }

    $('#date_picker').datepicker({
        format: 'yyyy/mm/dd',
       
        startDate: '-1d',
        beforeShowDay: function (date) {

            var len = SelectedDates.length;

            for (i = 0; i < len; i++) {
                if (SelectedDates[i].date_race.withoutTime().toString() == date.withoutTime()) {
                    return {
                        enabled: true,
                        tooltip: SelectedDates[i].describ
                    };
                }

            }
            return {
                enabled: false
            };
        }
    });

</script>