@model WebApplication2.Models.ViewModel.BetSetGetView
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Wybierz wyscig do zakladu</h2>



<h2>Obstaw</h2>


<form action="/Zaklady/dodaj" method="post">
 
    <div class="form-group">
        <p>1 miejsce</p>
        <p>
            @Html.DropDownListFor(model => model.betSetView.Driver_Name1, ViewBag.KategoriaList as IEnumerable<SelectListItem>)
        </p>
    </div>

    <div class="form-group">
        <p>2 miejsce</p>
        <p>
            @Html.DropDownListFor(model => model.betSetView.Driver_Name2, ViewBag.KategoriaList as IEnumerable<SelectListItem>)
        </p>
    </div>

    <div class="form-group">
        <p>3 miejsce</p>
        <p>
            @Html.DropDownListFor(model => model.betSetView.Driver_Name3, ViewBag.KategoriaList as IEnumerable<SelectListItem>)
        </p>
    </div>




    <h2>Najlepsze okrazenie</h2>


    <div class="form-group">

        <p>najlepsze okrazenie</p>
        <p>
            @Html.DropDownListFor(model => model.betSetView.Driver_Time1, ViewBag.KategoriaList as IEnumerable<SelectListItem>)
        </p>

    </div>

    <input id="Button_login" type="submit" value="Zatwierdź zmiany" class="btn btn-default" />

    </form>

    <h1>Twoje zaklady</h1>
    <form action="/Zaklady/wyswietl" method="post">
    <p>

        @Html.DropDownListFor(model => model.betGetView.selectedTrack, ViewBag.Wyscig1 as IEnumerable<SelectListItem>, new { @onchange = "this.form.submit();" })

    </p>
    
   </form>

    <div class="table" id="table_race">
        <div>

            <table class="table table-striped" style="width:60%;">
                <thead>
                    <tr>
                        <th>opcja</th>
                        <th>wybrany zawodnik</th>
                        <th>zawodnik z wyscigu</th>
                        <th>zdobyte punkty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 zawodnik</td>
                        <td>@Html.DisplayFor(model => model.betGetView.betPos1)</td>
                        <td>@Html.DisplayFor(model => model.betGetView.racePos1)</td>
                        <td>zdobyte punkty za zawodnika</td>
                    </tr>

                    <tr>
                        <td>2 zawodnik</td>
                        <td>@Html.DisplayFor(model => model.betGetView.betPos2)</td>
                        <td>@Html.DisplayFor(model => model.betGetView.racePos2)</td>
                        <td>zdobyte punkty za zawodnika</td>
                    </tr>

                    <tr>
                        <td>3 zawodnik</td>
                        <td>@Html.DisplayFor(model => model.betGetView.betPos3)</td>
                        <td>@Html.DisplayFor(model => model.betGetView.racePos3)</td>
                        <td>zdobyte punkty za zawodnika</td>
                    </tr>

                    <tr>
                        <td>najlepsze okrazenie</td>
                        <td> @Html.DisplayFor(model => model.betGetView.betTime1)</td>
                        <td>@Html.DisplayFor(model => model.betGetView.racePos3)</td>
                        <td>zdobyte punkty za zawodnika</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <h1>Wynik calkowity wyscigu</h1>
    <h3>wynik</h3>


