@model IEnumerable<WebApplication2.Models.DB.PARTICIPANTS>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Drużyny</title>
</head>
<body>
    <p>
        @Html.ActionLink("Dodaj druzyne", "Stworz_druzyne")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DRIVERS.Driver_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SEASONS.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEAMS.Team_Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DRIVERS.Driver_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SEASONS.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TEAMS.Team_Name)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edytuj_druzyne", new { id = item.Participants_ID }) |
                    @Html.ActionLink("Szczegóły", "Szczegoly_druzyny", new { id = item.Participants_ID }) |
                    @Html.ActionLink("Usuń", "Usun_druzyne", new { id = item.Participants_ID })
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Wróć do panelu administratora", "Panel")
</body>
</html>
