@model WebApplication2.Models.DB.PARTICIPANTS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuń drużynę</title>
</head>
<body>
    <h3>Jesteś pewny, że chcesz usunąć drużynę?</h3>
    <div>
        <h4>Drużyna</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DRIVERS.Driver_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DRIVERS.Driver_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SEASONS.Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SEASONS.Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TEAMS.Team_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TEAMS.Team_Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                @Html.ActionLink("Wróć do poprzedniej strony", "Druzyny")
            </div>
        }
    </div>
</body>
</html>
