@model IEnumerable<WebApplication2.Models.DB.USER>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.e_mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_Admin)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.e_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Admin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.User_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.User_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.User_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
