@model WebApplication2.Models.ViewModel.StatisticView
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    string stats = this.Request.QueryString["selected"];
}

<h1 onload="foo()">Statystyki</h1>

<p>Znajdziesz tutaj globalny ranking użytkowników jak i statystyi wybranych grup.</p>

Wybierz rodzaj rankingu do wyswietlenia: 

<select id="Select1" onchange="self.location = location.protocol + '//' + location.host + location.pathname + '?selected=' + this.options[this.selectedIndex].value">
    <option value="" selected>Wybierz ranking</option>
    <option value="globalne">Ranking globalny</option>
    <option value="znajomi">Ranking znajomych</option>
    @foreach(var item in Model.group)
    {
        <option value=@item.name>@item.name</option>
    }
</select>

<div class="table">
    <div>
        @{
            if(stats=="globalne" || stats == null) {<h3>Ranking globalny</h3>}
            else
            {
                if(stats=="znajomi")  {<h3>Ranking przyjaciół</h3>}
                else {<h3>Ranking @stats</h3>}
            }
        }

        <table id="tabela_js_show" class="table table-striped" cellspacing="3">
            <thead>
                <tr>
                    <th>Pozycja</th>
                    <th>Login</th>
                    <th>Wynik</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int m=1;
                    if(stats=="globalne" || stats == null)
                    {
                        foreach (var item in Model.global)
                        {
                            <tr>
                                <td>@(m++)</td>
                                <td>@item.login</td>
                                <td>@item.points</td>
                            </tr>
                        }
                    }
                    else
                    {
                        if(stats=="znajomi")
                        {
                            foreach (var item in Model.friend)
                            {
                                <tr>
                                    <td>@(m++)</td>
                                    <td>@item.login</td>
                                    <td>@item.points</td>
                                </tr>
                            }
                        }
                        else
                        {
                            foreach(var item in Model.group)
                            {
                                if(item.name==stats)
                                {
                                    foreach(var member in item.members)
                                    {
                                        <tr>
                                            <td>@(m++)</td>
                                            <td>@member.login</td>
                                            <td>@member.points</td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
    
