@model WebApplication2.Models.ViewModel.UserSettingView
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ustawienia</title>
</head>
<body>

    <!-- Formularz dotyczacy zmiany email -->
    @using (Html.BeginForm("Zmiana_email", "Ustawienia", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
       
            <!-- Wyswietla napis powodzenia zmiany email/hasla-->
            <span class="alert-success">@ViewBag.Status</span> 

            <!-- Wyswietla napis, ze dane sie nie zgadzaja-->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                @Html.LabelFor(model => model.emailView.email)
                @Html.DisplayFor(model => model.emailView.email)
            </div>


            <div>
                @Html.LabelFor(model => model.emailView.newEmail)
                @Html.EditorFor(model => model.emailView.newEmail)
                @Html.ValidationMessageFor(model => model.emailView.newEmail, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(model => model.emailView.confirmNewEmail)
                @Html.EditorFor(model => model.emailView.confirmNewEmail)
                @Html.ValidationMessageFor(model => model.emailView.confirmNewEmail, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zmień" class="btn btn-default" />

                </div>
                
            </div>

    }
    

    <!-- Formularz dotyczacy zmiany hasla -->
    @using (Html.BeginForm("Zmiana_hasla", "Ustawienia", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

            <div>
                @Html.LabelFor(model => model.passwordView.Password)
                @Html.EditorFor(model => model.passwordView.Password)
                @Html.ValidationMessageFor(model => model.passwordView.Password, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(model => model.passwordView.confirmPassword)
                @Html.EditorFor(model => model.passwordView.confirmPassword)
                @Html.ValidationMessageFor(model => model.passwordView.confirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zmień" class="btn btn-default" />

                </div>

            </div>

    }
</body>
</html>
